extends /card

block header
  if !locals.maintenance
    .hdc-hdr
      img(src='https://cdn.hashdo.com/icons/meandyousim.png', width='24px', height='23px')
      .hdc-title
        .name= locals.name
        .number= '0' + locals.number.substr(2)

    .hdc-subhdr
      | Bill so far
      .date For #{locals.date}

block content
  if !locals.maintenance
    if locals.billDateInfo
      div.dont-forget
        img(src='http://cdn.hashdo.com/img/meandyou/dontforget.png', width='80')
        div Your #{locals.billDateInfo.thismonthname} usage is payable at the end of next month – on #{locals.billDateInfo.nextmonthlastday} #{locals.billDateInfo.nextmonthname}.

    div!= locals.html
    p This is your bill to date. Any recharges, account payments or outstanding amounts owing will not be reflected here. Once off data purchases are included. Please note that this serves as a guide. Total usage may differ due to system delays.

  if locals.maintenance
    .maintenance