extends /card

block content
  if locals.photos.length > 0
    .swiper-container
      .swiper-wrapper
        each img in locals.photos
          .swiper-slide
            img.lead-image(src= img, width='225', height='143')

      .swiper-pagination

  .product-header
    h3= locals.name

    if locals.shortDescription
      p= locals.shortDescription

  .product-meta
    table
      if locals.website
        tr
          td.label Website:
          td
            a.hdc-link(href='http://' + locals.website)= locals.website

      if locals.details
        each detail in locals.details
          tr
            td.label= detail.label
            td= detail.value

block footer
  if locals.video
    .hdc-footer
      a.link &nbsp;
      a.link.hdc-link(href= locals.video, target='_blank') Video
