extends /card

block content
	.payInCountryBlock
		h1 Pay In
		div
			select(id='payIn',name='payInCountries').payInCountrySelect
				option(value='Default') Select Pay In Country
				each payInCountry in payInCountries
					option(value=payInCountry.sourceCountryCode) #{payInCountry.sourceCountryName}
	.payInCurrencyBlock.hidden
		.currencyIn
			select(id='payInCurrencies',name='payInCurrencies').payInCurrencySelect
	.payInMethodBlock.hidden
		.paymethodIn
			select(id='paymethodIn',name='paymethodIn').paymethodInSelect
	.payOutCountryBlock.hidden
		h1 Pay Out 
		select(id='payOut',name='payOutCountries').payOutCountrySelect
			option(value='Default') Select Pay Out Country
			each payOutCountry in payOutCountries
				option(value=payOutCountry.destinationCountryCode) #{payOutCountry.destinationCountryName}
	.payOutCurrencyBlock.hidden
		.currencyOut
			select(id='payOutCurrencies',name='payOutCurrencies').payOutCurrencySelect
	.payOutMethodBlock.hidden
		.paymethodOut
			select(id='paymethodOut',name='paymethodOut').paymethodOutSelect
	.payOptionBlock.hidden
		h1 Amount Options
		select(id='payOption',name='payOption').payOption
			option(value='default') Select Rate Option
			option(value='0') Sending Amount
			option(value='1') Receiving Amount
		br
	.getQuoteBlock.hidden
		input(type="text", name="payValue").payValue
		a.btn.button.getQuote Get Quote
	.quoteResults.hidden
		table
			tr
				td TransferFee
				td 
					input(type="text", name="transferFeeValue", readonly="readonly").transferFeeValue
			tr
				td Rate
				td 
					input(type="text", name="Rate", readonly="readonly").exchangeRateValue
			tr
				td Amount
				td 
					input(type="text", name="Amount", readonly="readonly").AmountValue
	.acceptQuote.hidden
		a.btn.button.acceptQuoteButton Accept Quote
	.beneficiary.hidden
		h1 Beneficiary Information
		select(id='beneficiaryOption',name='beneficiaryOption').beneficiaryOption
	.beneficiaryConfirmation.hidden
		h2 Confirm Beneficiary Information
		table
			tr
				td Bank Name
				td 
					input(type="text", name="beneficiaryBankName", readonly="readonly").beneficiaryBankName
			tr
				td Account Number
				td 
					input(type="text", name="beneficiaryAccountNumber", readonly="readonly").beneficiaryAccountNumber
			tr
				td Branch Code
				td 
					input(type="text", name="beneficiaryBranchCode", readonly="readonly").beneficiaryBranchCode
			tr
				td Bank Country
				td 
					input(type="text", name="beneficiaryBankCountry", readonly="readonly").beneficiaryBankCountry
	.beneficiaryAccept.hidden
		a.btn.button.acceptBeneficiary Accept Beneficary
	.finalTransferReason.hidden
		select(id='finalTransferReason',name='finalTransferReason').finalTransferReasonSelect
	.finalSourceofFunds.hidden
		select(id='finalSourceofFunds',name='finalSourceofFunds').finalSourceofFundsSelect
	.termsandConditions.hidden
		table
			tr
				td
					input(type='checkbox', checked=false, name='term1Accept').term1
			tr
				td I confirm that the source of funds provided above is correct, commit to the exchange rate which is fixed and can't be changed and have read and agree to the Terms and Conditions of Exchange4free"
		select(id='beneficiaryFundsOwner', name='beneficiaryFundsOwner').beneficiaryFundsOwner
			option(value='default') Are you the Beneficiary Funds Owner?
			option(value='yes') Yes
			option(value='no') No
		.beneficiaryFundsOwnerInformation.hidden
			select(id='entityType', name='entityType').entityType
				option(value='default') Entity Type?
				option(value='1') Person
				option(value='2') Entity
			select(id='beneficiaryFundsOwnerInformationCountry', name='beneficiaryFundsOwnerInformationCountry').beneficiaryFundsOwnerInformationCountry
			table
				tr
					td Address
					td
						input(type="beneficiaryFundsOwnerInformationAddress", name="beneficiaryFundsOwnerInformationAddress").beneficiaryFundsOwnerInformationAddress
				tr
					td Firstname
					td
						input(type="beneficiaryFundsOwnerInformationNames", name="beneficiaryFundsOwnerInformationName").beneficiaryFundsOwnerInformationName
				tr
					td Surname
					td
						input(type="beneficiaryFundsOwnerInformationSurname", name="beneficiaryFundsOwnerInformationSurname").beneficiaryFundsOwnerInformationSurname
				tr
					td Date of Birth/Incorporation
					td
						input(type="beneficiaryFundsOwnerInformationdob", name="beneficiaryFundsOwnerInformationdob").beneficiaryFundsOwnerInformationdob
				tr
					td Email
					td
						input(type="beneficiaryFundsOwnerInformationemail", name="beneficiaryFundsOwnerInformationemail").beneficiaryFundsOwnerInformationemail
			.benCompany.hidden
				table
					tr
						td Registration Number
						td
							input(type="beneficiaryFundsOwnerInformationregNo", name="beneficiaryFundsOwnerInformationregNo").beneficiaryFundsOwnerInformationregNo
					tr
						td Contact Person
						td
							input(type="beneficiaryFundsOwnerInformationcantact", name="beneficiaryFundsOwnerInformationcantact").beneficiaryFundsOwnerInformationcantact
			a.btn.button.beneficiaryOwnerConfirm Confirm Beneficary Owner
	.paymentDetails.hidden
		h1 Payment Details
		table
			tr
				td Beneficiary Name
				td 
					input(type="text", name="beneficiaryName", readonly="readonly").pdBeneficiaryName
			tr
				td Phone Number
				td 
					input(type="text", name="beneficiaryPhoneNumber", readonly="readonly").pdPhoneNumber
			tr
				td Reference to Appear
				td 
					input(type="text", name="beneficiaryReference").pdReferenceToAppear
			tr
				td Amount to Transfer
				td 
					input(type="text", name="beneficiaryBankCountry", readonly="readonly").pdAmounttoTransfer
			tr
				td Currency you are Sending
				td 
					input(type="text", name="beneficiaryBankCountry", readonly="readonly").pdCurrencySending
			tr
				td Currency Paid Out
				td 
					input(type="text", name="pdCurrencyPaidOut", readonly="readonly").pdCurrencyPaidOut
			tr
				td Exchange Rate
				td 
					input(type="text", name="beneficiaryBankCountry", readonly="readonly").pdExchangeRate
			tr
				td Transfer Fee
				td 
					input(type="text", name="beneficiaryBankCountry", readonly="readonly").pdTransferFee
			tr
				td Total Paid Out
				td 
					input(type="text", name="beneficiaryBankCountry", readonly="readonly").pdTotalPaidOut
		a.btn.button.confirmFinal Confirm Payment