extends /card

block content
  if locals.photos.length > 0
    .swiper-container
      .swiper-wrapper
        each img in locals.photos
          .swiper-slide
            img.lead-image(src= img, width='225', height='143')

      .swiper-button-next.swiper-button-white
      .swiper-button-prev.swiper-button-white

  .place-header
    h3= locals.name

    if locals.shortDescription
      p= locals.shortDescription

  .place-meta
    table
      if locals.address
        tr
          td.label Address:
          td=locals.address

      if locals.phone
        tr
          td.label Tel:
          td
            a.hdc-link(href='tel:' + locals.phone)= locals.phone

      if locals.website
        tr
          td.label Website:
          td
            a.hdc-link(href='http://' + locals.website)= locals.website

      if locals.twitter
        tr
          td.label Twitter:
          td
            a.hdc-link(href='http://twitter.com/' + locals.twitter)= '@' + locals.twitter

      if locals.instagram
        tr
          td.label Instagram:
          td
            a.hdc-link(href='http://instagram.com/' + locals.instagram)= '@' + locals.instagram

      if locals.details
        each detail in locals.details
          tr
            td.label= detail.label
            td= detail.value