extends /card

block content
  p.title= locals.question

  if locals.options
    .poll-options
      form.poll-form
        each item, index in locals.options
          if locals.expired
            .poll-option.result(data-index= index)

              label
                span.poll-option-bar(style='width: ' + ((locals.voteCounts[index].percentage / 100) * 130) + 'px')
                span.poll-option-text= item

              .poll-option-percentage= locals.voteCounts[index].percentage + '%'

          else
            .poll-option(data-index= index)
              input(type='radio', name= locals.card.id + '-' + locals.id, id= locals.card.id + '-' + locals.id + '-' + index)

              label(for= locals.card.id + '-' + locals.id + '-' + index)
                //span.poll-option-dot
                span.poll-option-bar(style='width: 0')
                span.poll-option-text= item

              .poll-option-percentage

block footer
  .hdc-footer
    .poll-meta
      .poll-vote-count= totalVotes + (totalVotes === 1 ? ' Vote' : ' Votes')

      if locals.expiry
        .poll-expiry-date= locals.expiry

    if !locals.expired
      a.link.vote.active= locals.voteLabel