extends /card

block content
  if locals.name
    .auction-title
      img(src='https://cdn.hashdo.com/icons/in2assetshammer.png', width='16px', height='16px')
      span Auction

    .auction-bar
      .auction-details
        table
          tr
            td.label Name:
            td= locals.formattedName

          tr
            td.label Date:
            td= locals.date

          tr
            td.label Address:
            td= locals.address

          tr
            td.label Properties:
            td= locals.properties.length

          tr
            td.label Call Us:
            td
              a.external(href='tel:0861444769') 0861 444 769

    .swiper-container
      .swiper-pagination

      .swiper-wrapper
        each property in locals.properties
          .swiper-slide
            img.lead-image(src= property.leadImage, width='225', height='143')
            .property-details
              h3= property.shortDescription
              p= property.address

  else
    .error Auction not found...