extends /card

block content
  if !locals.complete
    if locals.survey.photos.length > 0
      .swiper-container
        .swiper-wrapper
          each img in locals.survey.photos
            .swiper-slide
              img(src= img, width='225', height='143')

        .swiper-button-next.swiper-button-white
        .swiper-button-prev.swiper-button-white

  else
    if locals.survey.photos.length > 0
      .swiper-container
        .swiper-wrapper
          .swiper-slide
            img(src= locals.survey.photos[0], width='225', height='143')

  .hdc-survey(data-status= locals.status)
    .hdc-survey-header
      .bg-icon &nbsp;
      h1= locals.survey.name
      h3= locals.labels.questionCount

      if locals.instances && locals.instances.length > 1
        h3
          span.hdc-survey-response-count= locals.instances.length + ' ' + (locals.instances.length === 1 ? locals.labels.response : locals.labels.response)
      else
        h3
          span.hdc-survey-response-count

    .hdc-survey-progress(class= locals.responseCount > 0 || locals.complete ? 'visible' : '')
      h3= locals.percentageComplete + '%'
      .hdc-survey-progress-bar
        .hdc-survey-progress-percentage(style='width: ' + locals.percentageComplete + '%')

    if locals.survey.description
      .hdc-survey-body
        p= locals.survey.description

    if locals.complete
      .hdc-survey-footer
        | #{locals.labels.completed} - #{locals.completeDate}

    else
      if locals.responseCount > 0
        .hdc-survey-footer.active= locals.labels.continue

      else
        .hdc-survey-footer.active= locals.labels.start