extends /card

block content
  if locals.survey.photos.length > 0
    .swiper-container
      .swiper-wrapper
        each img in locals.survey.photos
          .swiper-slide
            img(src= img, width='225', height='143')

      .swiper-button-next.swiper-button-white
      .swiper-button-prev.swiper-button-white

  .hdc-survey(data-status= locals.status)
    .hdc-survey-header
      .bg-icon &nbsp;
      h1= locals.survey.name
      h3= locals.survey.questions.length + ' question survey'

    .hdc-survey-progress(class= locals.responseCount > 0 || locals.complete ? 'visible' : '')
      h3= locals.percentageComplete + '%'
      .hdc-survey-progress-bar
        .hdc-survey-progress-percentage(style='width: ' + locals.percentageComplete + '%')

    if locals.survey.description
      .hdc-survey-body
        p= locals.survey.description

    if locals.complete
      .hdc-survey-footer
        | Completed - #{locals.completeDate}

    else
      if locals.responseCount > 0
        .hdc-survey-footer.active
          | Continue

      else
        .hdc-survey-footer.active
          | Start survey