extends /card

block content
  .hdc-survey(data-status= locals.status)
    .hdc-survey-modal
      div
        a(href='#close', title='Close') &nbsp;
        .hdc-survey-question
          h3
          .hdc-survey-question-description
          .hdc-survey-question-input

          if !locals.complete
            .hdc-survey-question-footer
              .hdc-survey-question-done
                | Done

              .hdc-survey-question-next
                | Next

              .hdc-survey-question-back
                | Back

    .hdc-survey-header
      .bg-icon &nbsp;
      h1= locals.survey.name
      h3= locals.survey.questions.length + ' question survey'

    .hdc-survey-progress(class= locals.responseCount > 0 || locals.complete ? 'visible' : '')
      h3= locals.percentageComplete + '%'
      .hdc-survey-progress-bar
        .hdc-survey-progress-percentage(style='width: ' + locals.percentageComplete + '%')

    .hdc-survey-body
      if locals.survey.description
        p= locals.survey.description

    if locals.complete
      .hdc-survey-footer
        | Completed - #{locals.completeDate}

    else
      if locals.responseCount > 0
        .hdc-survey-footer.active
          | Continue

      else
        .hdc-survey-footer.active
          | Start survey